@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  padding: 0px;
  width: 100%;
  min-height: 100vh;
}

.main-overflow-hidden {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.rokkit {
  font-family: 'Rokkitt', serif;
}

.nav-container {
  padding: 25px 100px 0px 100px;
}

.nav-menu {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #01C5B8;
  cursor: pointer;
}

.nav-menu-container {
  margin-left: 50px;
}

.nav-selected {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  color: #01C5B8;
}

.landing-svg {
  position: absolute;
  right: 0px;
  top: 150px;
  max-width: 90vw;
}

.title-container {
  padding: 200px 100px 0px 100px;

  .title-landing-page {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #01C5B8;
    margin: 0px;
  }

  .subtitle-landing-page {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #01C5B8;
    margin: 0px;
  }
}

.native-selection {
  padding: 10px 15px 10px 15px;
  margin-top: 50px;
  max-width: 405px;
  background-color: #01C5B8;
  border: #01C5B8;
  border-radius: 15px;
  -webkit-appearance: none;
  background: url('../public/dashicons_arrow-down.svg') no-repeat right #01C5B8;
  background-position-x: 97%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;

  .select-option {
    font-style: normal;
    cursor: pointer;
    font-size: 24px;
    color: #FFFFFF;
  }
}

.native-selection:focus {
  outline: none;
}

.paper-menu {
  padding: 5px 10px 5px 10px !important;
  background-color: #01C5B8 !important;

  .nav-menu-paper {
    margin: 5px 0px 5px 0px;
    color: #FFFFFF;
    font-size: 12px;
  }
}

.primal-container {
  padding: 0px 100px 0px 100px;
  margin-bottom: 50px;

  .hospital-title {
    color: #01C5B8;
    margin: 0ch;
    font-weight: bold;
    font-size: 36px;
  }

  .hospital-subtitle {
    color: #A6A8AB;
    font-size: 24px;
    margin: 0ch;
  }

  .disclaimer-title {
    color: #01C5B8;
    font-weight: bold;
    font-size: 36px;
    margin: 50px 0px 30px 0px;
  }

  .disclaimer-point {
    color: #01C5B8;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
  }

  .icon-container {
    display: flex;
    align-items: flex-start;

    .icon-separator {
      margin: 0px 5px 0px 5px;
      color: #01C5B8;
      font-size: 24px;
    }

    .sosmed-icon-big {
      color: #01C5B8;
      font-size: 20px;
    }

    .sosmed-icon-small {
      color: #01C5B8;
      font-size: 20px;
    }
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.region-selection {
  padding: 10px 15px 10px 15px;
  margin-top: 50px;
  margin-right: 15px;
  min-width: 350px;
  background-color: #01C5B8;
  border: #01C5B8;
  border-radius: 15px;
  -webkit-appearance: none;
  background: url('../public/dashicons_arrow-down.svg') no-repeat right #01C5B8;
  background-position-x: 97%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;

  .select-option {
    font-style: normal;
    cursor: pointer;
    font-size: 24px;
    color: #FFFFFF;
  }
}

.region-selection:focus {
  outline: none;
}

.region-selection:disabled {
  background-color: darkgrey;
  cursor: default;
}

.map-container {
  width: 100%;
  height: 65vh;
}

.bubble-text-map {
  margin: 0px !important;
  font-size: 14px;
}

.bed-card-container {
  margin: 0px 15px 15px 0px;
  padding: 0px 15px 0px 15px;
  background-color: #C0E3DA !important;
  width: 300px;
}

.empty-bed-card-container {
  margin: 0px 15px 15px 0px;
  padding: 0px 15px 0px 15px;
  background-color: #D3D3D3 !important;
  width: 300px;
}

.bed-card-title {
  color: #5B5B5B;
  margin: 15px 0px 15px 0px;
  font-size: 20px;
  font-weight: bold;
}

.bed-card-content {
  color: #5B5B5B;
  margin: 0px 0px 0px 0px;
  font-size: 16px;
}

.details-btn {
  background-color: #01C5B8;
  border-color: #01C5B8;
  cursor: pointer;
  color: #FFFFFF;
  border-style: none;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  box-shadow: none;
}

.bubble-name-text-map {
  font-weight: bold;
  font-size: 16px;
}

.loading-cities {
  margin-top: 50px;
  margin-left: 15px;
}

.linear-progress-root {
  width: 100%;
  border-radius: 5px;
}

.linear-progress-color-primary {
  background-color: #C0E3DA !important;
}

.linear-progress-bar {
  background-color: #01C5B8 !important;
  border-radius: 5px;
}
