@media (min-width: 0px) and (max-width: 960px) {
  .nav-container {
    padding: 25px 25px 0px 25px !important;
  }

  .title-container {
    padding: 100px 25px 0px 25px;
  
    .title-landing-page {
      font-size: 20px;
    }
  
    .subtitle-landing-page {
      font-size: 12px;
    }

    .native-selection {
      padding: 5px 10px 5px 10px;
      margin-top: 20px;
      max-width: 220px;
      background-size: 18px;
      background-position-x: 95%;
      font-size: 12px;
    
      .select-option {
        font-style: normal;
        cursor: pointer;
        font-size: 12px;
        color: #FFFFFF;
      }
    }
  }

  .landing-svg {
    position: absolute;
    right: 0px;
    top: 300px;
    height: 325px;
  }

  .nav-menu {
    font-size: 18px;
  }

  .nav-menu-container {
    margin-left: 30px;
  }

  .primal-container {
    padding: 0px 25px 0px 25px;
    margin-bottom: 50px;
  
    .hospital-title {
      color: #01C5B8;
      margin: 0ch;
      font-weight: bold;
      font-size: 36px;
    }
  
    .hospital-subtitle {
      color: #A6A8AB;
      font-size: 24px;
      margin: 0ch;
    }
  
    .disclaimer-title {
      font-size: 24px;
      margin: 50px 0px 15px 0px;
    }
  
    .disclaimer-point {
      text-align: justify;
      font-size: 16px;
      margin: 0px 0px 15px 0px;
    }
  
    .icon-container {
      display: flex;
      align-items: flex-start;
  
      .icon-separator {
        margin: 0px 5px 0px 5px;
        color: #01C5B8;
        font-size: 20px;
      }
  
      .sosmed-icon-big {
        color: #01C5B8;
        font-size: 16px;
      }
  
      .sosmed-icon-small {
        color: #01C5B8;
        font-size: 15px;
      }
    }
  }

  .sm-hide {
    display: none;
  }
}
